deny from 195.135.232.70

#кодировка#
AddDefaultCharset UTF-8
<Limit GET POST>
  order allow,deny
  deny from 216.58.
  deny from 64.233.
  allow from all
</Limit>

#запрещаем вывод ошибок#
php_flag error_reporting 0

#время жизни сессии#
php_value session.gc_maxlifetime 86400
php_value session.cookie_lifetime 0

#запрет глобальных переменных#
php_flag register_globals off

#экранирование кавычек#
php_value magic_quotes_gpc on

#Для нежелательных User Agents (ботов)#
SetEnvIfNoCase user-Agent ^FrontPage [NC,OR]
SetEnvIfNoCase user-Agent ^Java.* [NC,OR]
SetEnvIfNoCase user-Agent ^Microsoft.URL [NC,OR]
SetEnvIfNoCase user-Agent ^MSFrontPage [NC,OR]
SetEnvIfNoCase user-Agent ^Offline.Explorer [NC,OR]
SetEnvIfNoCase user-Agent ^[Ww]eb[Bb]andit [NC,OR]
SetEnvIfNoCase user-Agent ^Zeus [NC]
<limit get=”” post=”” head=””>
Order Allow,Deny
Allow from all
Deny from env=bad_bot
</limit>

#Запрещаем выполнение вредоносных скриптов#
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteRule ^(.*)$ index.php [F,L]

#Защищаем сайт от DOS-атак#
LimitRequestBody 10240000

#Создаем кастомные страницы ошибок#
ErrorDocument 401 /error/401.php
ErrorDocument 403 /error/403.php
ErrorDocument 404 /error/404.php
ErrorDocument 500 /error/500.php

#убираем .php#
RewriteCond %{THE_REQUEST} " (/[^?/]+)\.php"
RewriteRule ^ %1 [R=301,L]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^.]+)$ $1.php [NC,L]

#перенаправление#
redirect /config/config_db.php https://www.youtube.com/watch?v=aqt8fN2o9sw

#запрет на доступ#
<Files config_db1.php>
  deny from all
</Files>